@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url("https://media.istockphoto.com/id/1347652268/es/foto/grupo-de-colegas-celebrando-el-%C3%A9xito.jpg?s=1024x1024&w=is&k=20&c=JVgoD8ciL_-CTek738BK5aHZOWZvtL7I6XxeKSYSDqw=");
}

.container-custom {
  width: 600px;
  height: 400px;
}
