@import "../../node_modules/bootstrap/scss/bootstrap";

.container-custom {
  width: 600px;
  height: 400px;
}

#weather {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
}

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M875.5 610Q762 720 666 809.5t-229.5 60q-133.5-29.5-217-133t-90-238.5Q123 363 208 252.5t228.5-159Q580 45 662 170t204.5 227.5Q989 500 875.5 610Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%238f6fa2%22 d=%22M875.5 610Q762 720 666 809.5t-229.5 60q-133.5-29.5-217-133t-90-238.5Q123 363 208 252.5t228.5-159Q580 45 662 170t204.5 227.5Q989 500 875.5 610Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
